<!DOCTYPE html>
<html lang="de">
<head>
    <title>Verifizierung</title>
    {% include "auth/fingerprinter.html" %}
    <script>
        async function verify_token() {
            const fingerprint = await getClientFingerprintHash();
            fetch(window.location.href, {
                method: "POST",
                credentials: "include",
                redirect: "follow",
                headers: {
                  "Content-Type": "application/json",
                  "X-Client-Fingerprint": fingerprint
                },
                body: JSON.stringify({ {{ flag }}: true })
            }).then((res) => {
                if (res.status === 204) location.reload();
            });
        }
        verify_token();
    </script>
</head>
</html>