{% extends "mail/base.html" %}

{% block content %}
<p>
    Hey {{ user }}!<br><br>
    Schön, dass du dich entschieden hast unsere Plattform
    zu nutzen. Bevor wir loslegen, möchten wir dich bitten
    kurz deine E-Mail Adresse <a href="{{ url_for('routes.auth.confirm', _external=True, code=confirm_code) }}">
    zu bestätigen</a>.<br><br>
    Wir freuen uns darauf, dich auf deinem Weg zu unterstützen
    und gemeinsam mit dir ein Licht in der Dunkelheit zu sein!<br><br>
    Alles Liebe wünscht dir,<br>
    Das GrowVolution Team!
</p>
{% endblock %}