{% extends "mail/base.html" %}

{% block content %}
<p>
    Hey {{ user }}!<br><br>
    Du hast die Login-Benachrichtigung für deinen Account aktiviert und wir möchten dich daher darüber informieren,
    dass sich jemand auf deinem Profil eingeloggt hat: <b>{{ timestamp }}</b><br>
    Wenn du das warst, kannst du diese E-Mail ignorieren. Andernfalls empfehlen wir dir dein Passwort
    <a href="{{ url_for('routes.user.profile', _external=True) }}">in deinen Einstellungen</a> zu ändern. Dort kannst du auch
    diese Benachrichtigung wieder ausschalten, falls du sie nicht länger erhalten möchtest.<br><br>
    Wenn du Fragen hast, kannst du dich gern jederzeit <a href="mailto:info@growv-mail.org">bei uns</a> melden. Wir
    freuen uns darauf, dir zu helfen und danken dir ganz herzlich für dein Vertrauen!<br><br>
    Alles Liebe wünscht dir,<br>
    Das GrowVolution Team!
</p>
{% endblock %}