/* Basic Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #ccc;
  overflow-y: auto;
  margin: 0;
}

footer a {
  color: #fff;
  text-decoration: underline;
}

footer a:hover {
  color: darkseagreen;
  text-decoration: inherit;
}

.form-control:focus,
.form-select:focus,
.input-group .form-control:focus {
  border-color: darkseagreen;
  box-shadow: 0 0 0 0.2rem rgba(143, 188, 143, 0.25);
  outline: none;
}

/* Nav Styles */
.navbar-dark .nav-link {
  color: rgb(175, 175, 175);
}

.navbar-dark .nav-link:hover {
  color: darkseagreen;
}

.navbar-dark .nav-link.active {
  color: rgb(210, 210, 210);
}

.dropdown-menu-dark .dropdown-item:hover {
  color: darkseagreen;
}

.dropdown-menu-dark .dropdown-item.active {
  color: lightseagreen;
  background-color: inherit;
}

.navbar-toggler {
  border: none;
}

#day-timer {
  font-size: 0.9rem;
  margin-left: 1rem;
  color: #ccc;
}

#navTitle {
  font-weight: bold;
  font-size: 1.2rem;
}

/* Base Window */
.window-wrapper {
  display: flex;
  min-height: 60vh;
  align-items: center;
  justify-content: center;
  padding: 2rem 1.5rem;
}

.window-box {
  background-color: #e6e6e6;
  border: 1px solid #999;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  width: fit-content;
  height: fit-content;
  max-width: 800px;
  color: #212529;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.window-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.05rem 1rem;
  border-bottom: 1px solid grey;
  gap: 5px;
}

.window-header img {
  width: 3rem;
  height: 3rem;
}

.window-header h2 {
  font-weight: bold;
  align-content: center;
  padding-top: 0.5rem;
}

.window-content {
  padding: 1rem 2rem;
}

/* Auth */
#recaptcha-container {
  width: 100%;
  max-width: 400px;
  display: flex;
  justify-content: center;
}

#authForm #forgot {
  color: rgba(33, 37, 41, 0.75);
  text-decoration: none;
}

#authForm #forgot:hover {
  color: rgba(33, 37, 41, 0.9);
}

#authForm #socialButtons .btn {
  height: 3rem;
}

.auth-icon-wrapper {
  display: flex;
  justify-content: center;
  width: 1.3rem;
  margin-right: 0.5rem;
}

.auth-icon {
  padding: 0.28rem 0;
  font-size: 1.2rem;
}

/* Legal Stuff */
.impressum dt {
  float: left;
  width: 90px;
  font-weight: bold;
}

.impressum dd {
  margin-left: 100px;
  margin-bottom: 0.4rem;
}
