<div class="row align-items-center bg-white rounded shadow-sm p-3 mb-4 mx-auto" data-aos="fade-{{ fade_direction }}">
<div class="col-md-4 text-center">
  <img src="{{ post.image_url }}" alt="Vorschau Bild" class="img-fluid rounded">
</div>
<div class="col-md-8 mt-3 mt-md-0">
  <h4>{{ post.headline }}</h4>
  <small class="text-muted">{{ post.info }}</small>
  <p class="mt-2">
    {{ post.summary | safe }}
  </p>
  <a href="/blog/{{ post.id }}" class="btn btn-outline-dark">Zum Beitrag</a>
</div>
</div>