{% extends "base.html" %}

{% block title %}Neue E-Mail{% endblock %}

{% block content %}
<div class="window-wrapper">
    <div class="window-box">
        <div class="window-header">
          <img src="{{ url_for('static', filename='img/logo1.png') }}" alt="GrowV Colorful Logo">
          <h2>Änderung Bestätigt</h2>
        </div>
        <div class="window-content text-center" style="max-width:400px">
          <p class="mb-3">
              Danke, deine E-Mail Adresse wurde erfolgreich geändert.
          </p>
            <a href="/" class="btn btn-outline-dark">Zurück zur Startseite</a>
        </div>
    </div>
</div>
{% endblock %}