<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}GrowVolution{% endblock %}</title>

    <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" rel="stylesheet">

    <link href="/static/css/style.css" rel="stylesheet">
    {% block style %}{% endblock %}

    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>

    <script src="/static/js/socket.js" id="socketScript"
            data-socket-domain="wss://{% if debug %}debug.{% endif %}growvolution.org"
            data-current-template="{{ template }}"></script>
    {% block script %}{% endblock %}
  </head>
  <body class="min-vh-100">

    <header>
      {% include 'nav.html' %}
      {% include 'flash.html' %}
    </header>

    <main class="flex-grow-1">
        {% block content %}{% endblock %}
    </main>

    <footer class="bg-dark text-light pt-4 mt-auto">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-4 mb-3">
            <div class="d-flex flex-column align-items-center">
              <h5>Über diese Seite</h5>
              <p style="text-align: justify;">
                Die Welt verändern? Kein Problem.
                Aber alles beginnt bei dir. Deshalb ist diese Seite dir gewidmet –
                deinem Weg, deinem Wachstum, deinem Mut.
              </p>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <h5>Wichtige Links</h5>
            <ul class="list-unstyled">
              <li><a href="/impressum">Impressum</a></li>
              <li><a href="/privacy">Datenschutz</a></li>
              <li><a href="/guidelines">Richtlinien</a></li>
              <li><a href="/about">Das ist GrowVolution</a></li>
                <li><br></li>
                <li><a href="https://github.com/GrowV211/growvolution.org/tree/master" target="_blank">Quellcode</a></li>
            </ul>
          </div>
          <div class="col-md-4 mb-3">
            <h5>Kontakt</h5>
            <p>
              <a href="tel:+491745881313">+49 174 5881313</a><br>
              <a href="mailto:info@growv-mail.org">info@growv-mail.org</a>
            </p>
          </div>
        </div>
        <div class="text-center mt-1">
          GrowVolution 2025 – GNU General Public License
        </div>
      </div>
    </footer>

    {% block modal %}{% endblock %}
    {% if initial_reflection %}
        <span id="reflectionShown" class="d-none">{{ 'true' if reflection_shown else 'false' }}</span>
        {% include "user/modals/reflection_modal.html" %}
        <script type="module" src="/static/js/shared/modal_control.js"></script>
        <script type="module" src="/static/js/user/initial_reflection.js"></script>
    {% endif %}
    {% include "modals/confirm_modal.html" %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.iconify.design/iconify-icon/3.0.0/iconify-icon.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script>
      AOS.init({ once: true, duration: 1000 });
    </script>

    <script src="/static/js/timer.js"></script>
    <script src="/static/js/base.js"></script>

    {% block script_afterDOM %}{% endblock %}
  </body>
</html>
