<div class="modal fade" id="{% block id %}{% endblock %}" tabindex="-1" aria-hidden="true" aria-labelledby="modalLabel">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">{% block title %}{% endblock %}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Schließen"></button>
      </div>
      <div class="modal-body">
        {% block body %}{% endblock %}
      </div>
      <div class="modal-footer">
        {% block footer %}{% endblock %}
      </div>
    </div>
  </div>
</div>
