{% extends "base.html" %}

{% block title %}Mein Wochenplan{% endblock %}

{% block style %}
    <style>
        .th-width {
            min-width: 125px;
            width: 125px;
        }
        .nowrap {
            white-space: nowrap;
        }
        .table-container {
            overflow-x: auto;
            padding-bottom: 1rem;
        }
        tbody tr {
            height: 90px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="window-wrapper px-2">
        <div class="window-box w-100" style="max-width: fit-content;">
            <div class="window-header">
                <h3 class="fw-bold mt-2">📆 Mein Wochenplan</h3>
            </div>

            <div class="window-content px-3">
                <div class="table-container">
                    <table class="table table-bordered align-middle text-center">
                        <thead class="table-light">
                        <tr>
                            {% if mode != 'simple' %}<th class="th-width"></th>{% endif %}
                            {% for label in ['Montag','Dienstag','Mittwoch','Donnerstag','Freitag','Samstag','Sonntag'] %}
                                <th class="th-width">{{ label }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        {% if mode == 'simple' %}
                            {% include "user/week/simple_mode.html" %}
                        {% elif mode == 'medium' %}
                            {% include "user/week/medium_mode.html" %}
                        {% elif mode == 'free' %}
                            {% include "user/week/free_mode.html" %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>

                <div class="mt-3 text-center">
                    <strong>💯 Deine durchschnittliche Zuverlässigkeit diese Woche:</strong>
                    <div class="progress mt-2" style="height: 24px">
                        <div class="progress-bar bg-success" role="progressbar" style="width: {{ user.week_reliability_score }}%">
                            {{ user.week_reliability_score }}%
                        </div>
                    </div>

                    <a href="/week/edit" class="btn btn-outline-primary w-100 mt-3">
                        🛠️ Wochenplan bearbeiten
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script_afterDOM %}
	<script type="module" src="/static/js/user/week/week.js"></script>
{% endblock %}