{% extends "base.html" %}

{% block title %}Richtlinien{% endblock %}

{% block content %}
<div class="window-wrapper flex-column px-3">
    <div class="window-box mb-4" data-aos="fade-up">
        <div class="window-header">
            <h3 class="title">🧱 Grundlegendes</h3>
        </div>
        <div class="window-content">
            <p>
                Hey! Zuerst einmal möchten wir uns bedanken, dass du dich mit unseren Richtlinien vertraut machen möchtest.
                Doch bevor wir dir sämtliche Regeln aufzwingen und dich so in deiner Entwicklung beschränken oder dir damit
                bestimmte Erfahrungen verwähren, möchten wir ein kleines Experiment wagen:<br><br>
                Wir werden dir so viel Freiraum geben, wie es uns im rechtlichen Rahmen möglich ist. Du sollst die Chance
                haben dich völlig frei zu entfalten und auf diesem Weg deine individuellen Lernerfahrungen zu sammeln. Doch
                dass diese Seite grenzenlos ist, bedeutet nicht automatisch, dass unsere Nutzer nicht ihre ganz persönlichen
                Grenzen haben. Deshalb legen wir es in deine Hand, deine eigenen Grenzen klar zu kommunizieren, damit wir
                die Chance haben auf dich und deine Wünsche Rücksicht zu nehmen. Im Gegenzug bitten wir dich, auch die Grenzen
                der anderen Nutzer zu respektieren und ernst zu nehmen. (Das heißt sie nicht zu belächeln, nur weil du andere
                Vorstellungen hast.) 💯<br><br>
                Es ist uns ein besonderes Anliegen einen Raum zu schaffen, in dem auf eine bestimmte Weise miteinander umgegangen
                wird. Dieser Raum soll zwar grenzenlos sein, jedoch auch einen gesunden Rahmen für Entwicklung bieten. Aus diesem
                Grund werden wir dir dennoch ein paar Werte mit an die Hand geben, deren Einhaltung dem Zweck unserer Platform
                dienlich ist. Bedenke also, dass unser Vertrauen dir gegenüber kein Freifahrtschein darstellt, sondern eine
                Einladung ein gemeinsames Interesse zu teilen. 😉<br><br>
                Indem du unserer Community beitrittst, akzeptierst du dieses gemeinsame Interesse und erklärst dich damit
                einverstanden von anderen Mitgliedern achtsam auf unsere gemeinsamen Werte hingewiesen zu werden,
                wenn dein Verhalten davon abweicht. 🙏🏼
            </p>
        </div>
    </div>
    <div class="window-box mb-4" data-aos="fade-up">
        <div class="window-header">
            <h3 class="title">🧭 Unsere Werte</h3>
        </div>
        <div class="window-content">
            <p>
                Der erste und wichtigste Wert, dessen Einhaltung für das Miteinander auf dieser Platform essenziell ist, ist:
            </p>
            <ul class="list-unstyled ms-4">
                <li>👤 Identität</li>
            </ul>
            <p>
                Das mag dem Standard der heutigen Zeit widersprechen, aber wir bitten dich, deinen Klarnamen zu verwenden. Warum?
                Damit du nicht dazu verleitet wirst, unter dem Deckmantel der Anonymität wider der Werte dieser Gemeinschaft zu
                handeln. Du kannst in den Datenschutz Einstellungen die Anzeige deines Nachnamens ausschalten. ✌🏼<br><br>
                Natürlich können wir dich nicht zwingen. Doch wir behalten uns vor, deinen Account vorübergehend zu deaktivieren,
                sollte ein begründeter Verdacht auf eine missbräuchliche Anonymisierung deines Namens bestehen. Du hast dann die
                Möglichkeit uns gegenüber einen Identitätsnachweis zu erbringen, um weiter von unserer Platform zu profitieren. ⚖️<br><br>
                Nachdem dieser Stein gelegt ist, möchten wir dich noch darum bitten im Rahmen der folgenden Werte zu handeln:
            </p>
            <ul class="list-unstyled">
              <li class="ms-3"><strong>Im Umgang miteinander:</strong></li>
              <li class="ms-4">🤝🏼 Respekt</li>
              <li class="ms-4">💚 Liebe</li>
              <li class="ms-4">🫂 Empathie</li>
              <li class="ms-4">🔗 Zusammenhalt</li>
              <li class="mt-2 ms-3"><strong>Im Ausdruck deiner selbst:</strong></li>
              <li class="ms-4">🔓 Offenheit</li>
              <li class="ms-4">📖 Ehrlichkeit</li>
              <li class="ms-4">🪞 Reflexion</li>
              <li class="ms-4">🕊️ Kompromissbereitschaft</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}