{% extends "base.html" %}

{% block title %}Der Gründer{% endblock %}

{% block content %}
<section class="window-wrapper px-2">
  <div class="window-box">
      <div class="window-header">
        <h2>Mein kritischer Rückblick...</h2>
      </div>
      <div class="window-content">
          <div>
            <img src="/static/img/about/reflection.jpg" alt="Beitragsbild" class="img-fluid rounded mb-4 w-100" style="object-fit: cover; max-height: 50vh;">
            <p>
                Hi, erstmal Respekt, dass du dir das hier anschaust! 👏🏼<br><br>
                Um ehrlich zu sein würde ich uns beiden diesen Beitrag hier gerne ersparen. Nur leider gibt es ein paar
                wenige Menschen, die meine Vergangenheit kennen. Deshalb ist es mir wichtig an dieser Stelle damit in einem
                angemessenen Maß aufzuräumen. Denn mir liegt extrem viel an diesem Projekt hier und ich möchte nicht, dass
                meine Fehler anderen Menschen eine Angriffsfläche bieten, die es in seiner Wirksamkeit einschränken. Also ist
                es nun an der Zeit offen über meine Fehler zu sprechen... 💬
            </p>
            <h5 class="mt-1">Fehler meines jüngeren Ich</h5>
            <p>
                Vorab möchte ich klarstellen, dass ich hier vor allem meine jüngere Vergangenheit darlegen werde. Das heißt nicht,
                das ich als Kind und Jugendlicher keine Fehler gemacht habe. Im Gegenteil, ich habe bereits in sehr jungen Jahren
                unglaublich viele Dinge getan, auf die ich nicht besonders stolz bin. Wider besseren Bewusstseins habe ich mit
                meinem Handeln mir selbst und anderen geschadet. Ich gebe zu, dass ich kein einfaches Kind war und bitte diejenigen
                Menschen, zu deren Nachteil sich das ausgewirkt hat aufrichtig um Vergebung. Doch ich war eben noch jung und zu
                einem gewissen Grad waren diese Erfahrungen nötig, um heute an diesem Punkt stehen zu können. Für alles, was geschehen
                ist, übernehme ich die volle Verantwortung. Egal wie jung, naiv und unerfahren ich war - das ist keine Entschuldigung. ⚖️
            </p>
            <h5 class="mt-1">Was wir uns anschauen werden</h5>
            <p>
                Nur betrifft dieser Teil meiner Vergangenheit eher wenige, vereinzelte Menschen und ich fände es unpassend darauf jetzt
                im Detail einzugehen. Wir müssen nicht grundlos alte Wunden aufreißen. Hingegen haben vergleichsweise eine ganze Menge
                mehr Menschen von meiner jüngeren Vergangenheit mitbekommen. Auch hier hat mir noch die nötige Weitsicht gefehlt. Trotzdem
                möchte ich diesen Abschnitt meines Lebens an dieser Stelle offenlegen. Denn damit möchte ich nicht nur gezielt die
                Angriffsfläche reduzieren, sondern dir die Möglichkeit geben, zu verstehen wie das alles hier zustande gekommen ist. 🔄
            </p>
            <h5 class="mt-1">Wie alles angefangen hat</h5>
            <p>
                Also, angefangen hat alles, als ich gerade fast 16 Jahre alt war. Menschliche Neugier und mein soziales Umfeld (nicht aktiv)
                haben mich zu der Entscheidung bewegt, einmal an einem Joint zu ziehen. Darauf folgte eine lustige Erfahrung, ohne am nächsten
                Morgen einen dicken Schädel zu haben. Bis zu diesem Tag habe ich lange sehr strikt gesagt, dass ich niemals illegale Substanzen
                konsumieren werde. Doch hat diese Erfahrung mich dazu veranlasst, die Prohibition infrage zu stellen. Erstmal nur bezogen
                auf Cannabis. An der Stelle muss ich dankbar erwähnen, dass ich aus eigenem Antrieb immer sehr um Aufklärung bestrebt war.
                Dadurch habe ich angefangen mich aktiv mit den Risiken, sowie weiteren Aspekten des Konsums vertraut zu machen und dabei
                die derzeit herrschende Drogenpolitik stärker zu hinterfragen. Meine Hemmschwelle ist dabei gesunken. Zwar habe ich Anfangs noch
                gesagt, ich würde niemals über Cannabis hinausgehen. Doch meine Neugier hat mich dazu veranlasst, mich auch mit anderen Substanzen
                zu befassen. Und desto mehr Aufklärung ich auf diesem Weg erfahren habe, desto lockerer und weiter wurde meine Grenze. Dazu kam
                noch, dass ich mich aus persönlichen Gründen sehr für das Thema Persönlichkeitsentwicklung interessiert habe. Wodurch ich über die
                Zeit - und durch den Algorithmus - unweigerlich mit Psychedelika (das sind Rauschmittel wie LSD, Psilocybin, DMT u.ä.) in diesem
                Bereich in Berührung kam. 🙈
            </p>
            <h5 class="mt-1">Psychedelische Exploration</h5>
            <p>
                Bis dann das Eine zum Anderen führte und ich eine Packung magische Trüffel aus Holland bestellte. Zu dem Zeitpunkt war ich fast 17
                und durfte plötzlich eine Erfahrung machen, die anders war, als alles, was ich mir jemals hätte träumen lassen. Es war eine tief
                bewegende, unbeschreiblich magische Reise. Von dem Moment an hat es nicht lange gedauert, bis ich dann auch das erste Mal synthetische
                (strukturell abgewandelte und erst durch Metabolismus in die wirkaktive Substanz umgewandelte) Lysergamide bestellt und probiert habe.
                Wir befinden uns jetzt im zeitlichen Verlauf an einem kritischen Punkt, denn es ist gerade der zweite Lockdown und ich habe viel Zeit
                mich mit mir selbst zu befassen. Kurz darauf fasse ich den Entschluss, den Ego-Tod zu erfahren. (Eine Erfahrung von der in dieser Szene
                of berichtet wird. Sie beschreibt einen Zustand in dem das Selbst aus einer "Helikopterperspektive" auf den Körper blickt und sich als
                Eins mit allem erfährt.) Erneut bestelle ich eine aktuelle Prodrug zu LSD (1cP-LSD zu der Zeit) und begebe mich in eine etwas höher
                dosierte Erfahrung. Diese führt mich zu der Erkenntnis, dass ich andere Menschen - aber nicht mich selbst - belügen kann. Was mich dazu
                veranlasst hat, eine Lüge - ja ein ganzes Lügenkonstrukt, das ich in knapp 2 Jahren aufgebaut habe - mit einem Schlag einzureißen. Für
                einen Anfang 17-Jährigen ist das eine zutiefst beeindruckende Erfahrung, wie du dir sicher vorstellen kannst. Von dem Moment an hat sich
                alles verändert. 💥
            </p>
            <h5 class="mt-1">Ein intensiver Lebenswandel</h5>
            <p>
                Plötzlich fühlte ich mich befreit von dieser Maske, die ich so lange Zeit getragen hatte. Doch was nun folgte, war ein unfassbar holpriger
                Wandel meiner gesamten Persönlichkeit inklusive meines gesamten Weltbildes, meiner Wertvorstellungen und Denkweisen. Sehr zu meinem Leidwesen
                hat mich die Erkenntnis aus dem Trip extrem leichtsinnig gemacht. Obwohl mir die Risiken des Psychedelikakonsums bekannt waren, hielt ich derartige
                Erfahrungen für notwendig, um mich zu entwickeln. Wodurch ich häufiger konsumiert habe, als für einen Menschen in dem Alter gesund gewesen wäre.
                Gleichzeitig fing ich an meine Unzufriedenheit mit den Umständen sehr bewusst wahrzunehmen. Außerdem gelangte ich im Zusammenhang mit
                Inhalten zur persönlichen Entwicklung und Verwirklichung zum Entschluss zu handeln. Der Impuls eines guten Freundes brachte mich dazu mich
                hinzusetzen und zu schreiben. Und das, was ich dort geschrieben hatte, hat mich sehr beeindruckt. Weil ich einfach niemals gedacht hätte, dass
                ich in der Lage wäre so zu schreiben. Also fing ich an mich öfter hinzusetzen. In meinem Kopf entwickelte sich die Vorstellung, ich könne mir den
                klassischen Weg durch das System sparen. Wenn ich nur immer weiter mache, an mir, sowie meinen Zielen arbeite und niemals aufgebe - so dachte ich -
                werde ich auch ohne Abitur und Studium erfolgreich sein. 💫
            </p>
            <h5 class="mt-1">Mein Versuch die Welt zu ändern</h5>
            <p>
                Auf meinem Weg hat sich eine Vision entwickelt. Ich habe einen Sinn in meinem Leben und allem, was geschehen ist, gesehen. Das hat mir unheimliche
                Kraft verliehen und mich dazu bewegt aktiv zu hinterfragen, mir Gedanken zu machen und zu handeln. Wir sind jetzt zeitlich bei meinem 18-jährigen Ich
                angelangt. Dieses geht gerade in die 11. Klasse des Gymnasiums und ist sehr unzufrieden mit dem Bildungssystem, wie auch vielen weiteren Umständen. Es
                glaubt fest daran, etwas ändern zu können - nicht machtlos zu sein - und versucht auch sein Umfeld dazu zu bewegen, sich seinem Versuch die Welt zu ändern
                anzuschließen. Seine Visionen sind groß und es sieht etwas, was kein anderer Mensch versteht. Irgendwann gibt es seine bisherigen Bemühungen auf, bricht die Schule ab und
                möchte es anders versuchen. - Endlich habe ich die Chance in eine eigene Wohnung zu ziehen. Diverse Umstände haben es mir erlaubt Bürgergeld zu beziehen.
                Auch, wenn mein Umfeld das anders sieht, sehe ich dieses Geld als verdient an - solange ich nur aktiv Mehrwert schaffe. Also produziere ich kontinuierlich
                neue Inhalte und bin bemüht etwas in die Welt zu bringen. Um mir selbst das Gefühl von Sinnhaftigkeit zu verleihen und dass das Geld in mich sinnvoll
                investiert ist. 😶
            </p>
            <h5 class="mt-1">Wie ich verloren ging</h5>
            <p>
                Nur leider experimentiere ich in der Zeit weiter sehr rege mit psychedelischen Substanzen herum. Was mich auf Dauer und in Kombination mit Onlineinhalten,
                sowie eigenen Gedanken in ein ziemlich seltsames Denkgefängnis führt. Ohne es zu merken, gerate ich in einen Sog fesselnder Gedanken. Meine Vision verspricht
                Freiheit, Tiefe und Unendlichkeit. Doch ich fange an, alles aus einer starren Perspektive eigener Gedanken zu betrachten. Zwar entwickeln sich meine Ansichten
                weiter, jedoch in einem sehr unflexiblen Rahmen. Egal wie viel Mühe ich mir gebe und egal wie aktiv ich daran arbeite, meine Träume zu realisieren... Irgendwie
                scheine ich vor einer wachsenden Mauer zu stehen, die mich am Weiterkommen hindert. In diesem Zeitraum habe ich viele (von außen betrachtet) sehr seltsame Dinge
                getan. Ich war ein ungemein merkwürdiger Mensch und egal was andere Menschen über mich gedacht haben müssen, es war zu 100 % berechtigt. Gleichzeitig stellten
                sich damit aber auch zunehmende Zweifel daran ein, dass Kontinuität allein ausreicht, um die angestrebte Freiheit und Selbstständigkeit zu erlangen. 💀
            </p>
            <h5 class="mt-1">Der Weg zurück ins System</h5>
            <p>
                So bricht also alles, was ich mir bis dahin aufgebaut hatte (für mich was das die Welt) zusammen. Mittlerweile bin ich 19 Jahre alt und mit meinem Versuch mich
                selbst zu verwirklichen ziemlich hart auf die Nase gefallen. Mithilfe des Einflusses anderer Menschen finde ich wieder einen Weg zurück ins System. Ich entschließe
                mich wieder zur Schule zu gehen (Fachoberschule diesmal - ein angemessener Kompromiss, der auch mein Bedürfnis nach einem höheren Praxisanteil befriedigt) und
                überbrückend sogar Leiharbeit zu machen, um ein wenig mehr Geld zu bekommen. Mein Leben macht eine 180° Wendung, was andere Menschen mit Wohlwollen betrachten.
                Nur mir fehlt jetzt etwas. Nicht, dass ich nicht dankbar bin, an dem Punkt zu stehen. Aber ich habe gerade meinen Lebenssinn verloren. Etwas war zerbrochen und
                dieser Wandel hat in mir eine Lücke hinterlassen, die sich einfach nicht schließen wollte. 😮‍💨
            </p>
            <h5 class="mt-1">Zielloses umherirren</h5>
            <p>
                Nebenbei habe ich auch angefangen Erste-Hilfe-Kurse zu geben. Doch rückblickend muss ich auch hier feststellen, dass ich an der Stelle meiner Verantwortung nicht
                gerecht geworden bin. Ich habe mir etwas auf diesen Job eingebildet und kam mir immer besonders krass vor, wenn ich da Vorne stand. Zudem habe ich viel zu oft über
                mich, mein Leben und Dinge, die mich bewegen gesprochen. Allgemein habe ich mich immer - auch davor schon, nachdem ich "mich selbst gefunden" habe - für ganz besonders
                reif und erwachsen gehalten. Wobei allein diese Haltung das genaue Gegenteil beweist. Nebenher habe ich noch stark fluktuiert. Dadurch habe ich Schulden im vierstelligen
                Bereich gemacht, regelmäßig ungehemmt irgendwelche Substanzen ausprobiert und ziemlich wenig Acht auf meinen Körper gegeben. Weder mein Umfeld, noch ich selbst haben
                verstanden, warum ich ständig diese dummen Entscheidungen für mein Leben treffe. 🙄
            </p>
            <h5 class="mt-1">Die Lücke schließt sich</h5>
            <p>
                Aber jetzt sehe ich so einiges klarer, als es noch vor kurzem der Fall war. Mit diesem Projekt habe ich wieder einen Sinn für mein Leben gefunden und darf mich erinnern,
                wie viel Kraft mir das schenkt. Während alles in Trümmern lag, habe ich nicht verstanden, warum mir kongruentes Handeln so schwerfällt. Bis jetzt, denn nun ist aus den
                Scherben der Vergangenheit ein viel größeres und ganzheitlicheres Bild gewachsen. Endlich habe ich wieder etwas finden dürfen, das mir Kraft gibt und mich trägt. Diesmal
                ganz ohne Zwang. Hieraus muss nichts Großes wachsen. Ich freue mich, wenn es so ist und ich dir damit ein kleines Geschenk machen darf. Aber ich bin auch dankbar, wenn
                es nicht so ist. Weil es eine Lücke in meinem Herzen füllt, egal ob oder wie viele Menschen davon profitieren. 🙏🏼
            </p>
            <h5 class="mt-1">Wo ich heute stehe</h5>
            <p>
                Zuletzt möchte ich noch erwähnen - nicht um anzugeben, sondern um zu zeigen, dass ich auch anders gekonnt hätte - dass ich jetzt meinen Abschluss in der Tasche
                habe und dieser ganz gut geworden ist. (Besser als ich mir jemals hätte vorstellen können, um ehrlich zu sein.) Außerdem darf ich ein duales Studium im Bereich Elektro-
                & Informationstechnik bei einem größeren Unternehmen anfangen und Nordhausen - den Ort an dem dieses Schauspiel angefangen hat - dafür endlich verlassen. Ja, ich wünsche
                mir weiterhin, dass sich etwas ändert. Aber nicht, weil ich unfähig bin den klassischen Weg zu gehen. Sondern weil ich weiß, dass es trotzdem noch besser geht.
                Denn wie du vielleicht siehst: Ich bin nicht perfekt. Vermutlich bist du es auch nicht. Und das System, in dem wir leben - auch wenn es sicher nicht das schlechteste ist -
                ist es genauso wenig. Genau aus dem Grund lade ich dich dazu ein, dass wir alle gemeinsam an diesen Dingen arbeiten. Damit sie reifen, sich entwickeln und besser werden.
                Besser, als wir uns heute vorstellen können. 🔮
            </p>
          </div>
      </div>
  </div>
</section>
{% endblock %}